/* line 6, ../sass/_base.sass */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* line 11, ../sass/_base.sass */
body {
  font-family: "Ubuntu", sans-serif;
  background: #E9E9E9;
}

/* line 15, ../sass/_base.sass */
a {
  text-decoration: none;
}

/* line 18, ../sass/_base.sass */
.container {
  max-width: 1040px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

@font-face {
  font-family: "arial";
  src: url("../fonts/9041.ttf");
}
/* line 1, ../sass/_header.sass */
header {
  margin-bottom: 27px;
}

/* line 3, ../sass/_header.sass */
nav {
  padding: 13px 0;
  background: #ffff;
}

/* line 6, ../sass/_header.sass */
.logo {
  position: relative;
  bottom: -4px;
}

/* line 9, ../sass/_header.sass */
.nav__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* line 12, ../sass/_header.sass */
.nav__right {
  max-width: 790px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* line 17, ../sass/_header.sass */
.header__menu {
  max-width: 489px;
  width: 100%;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/* line 22, ../sass/_header.sass */
.header__menu-items {
  font-family: "Ubuntu", sans-serif;
  text-decoration: none;
  color: #000000;
  font-weight: light;
  font-size: 18px;
}
/* line 28, ../sass/_header.sass */
.header__menu-items:hover {
  text-decoration: underline;
}

/* line 31, ../sass/_header.sass */
.header__search {
  max-width: 252px;
  width: 100%;
  position: relative;
}
/* line 37, ../sass/_header.sass */
.header__search img {
  position: absolute;
  left: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
/* line 43, ../sass/_header.sass */
.header__search input {
  width: 100%;
  padding: 5px 0 5px 25px;
  background: #F2F2F2;
  border: 1px solid transparent;
  outline: 0;
  border-radius: 3px;
}
/* line 51, ../sass/_header.sass */
.header__search input::-webkit-input-placeholder {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  color: #3e3e3e;
}
.header__search input:-ms-input-placeholder {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  color: #3e3e3e;
}
.header__search input::-ms-input-placeholder {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  color: #3e3e3e;
}
.header__search input::placeholder {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  color: #3e3e3e;
}
/* line 55, ../sass/_header.sass */
.header__search input:focus {
  border-color: #3498db;
  background: #F6F6F6;
}
/* line 58, ../sass/_header.sass */
.header__search input:hover {
  border-color: #3498db;
  background: #F6F6F6;
}

/* line 63, ../sass/_header.sass */
.header__img {
  background: url("../imgs/header/wapka.jpg") no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 380px;
}

/* line 1, ../sass/_content.sass */
.content {
  font-family: sans-serif;
  color: #333;
}

/* line 8, ../sass/_content.sass */
.content__blocks a:hover .item-normal__img, .content__blocks a:hover .item-little__img {
  opacity: 0.8;
}

/* line 10, ../sass/_content.sass */
.content__block-left {
  margin-right: 11px;
}

/* line 13, ../sass/_content.sass */
.content__blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* line 17, ../sass/_content.sass */
.content__smoll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* line 21, ../sass/_content.sass */
.content__inner {
  max-width: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* line 28, ../sass/_content.sass */
.block__item-normal {
  display: block;
  max-width: 375px;
  width: 100%;
  margin-bottom: 10px;
}

/* line 34, ../sass/_content.sass */
.item-normal__img {
  width: 100%;
  display: block;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

/* line 39, ../sass/_content.sass */
.item-normal__info {
  padding: 24px 15px 20px 37px;
  background: #fff;
}

/* line 43, ../sass/_content.sass */
.item__statya {
  color: #b6b6b6;
  font-weight: 400;
  margin-bottom: 32px;
}

/* line 48, ../sass/_content.sass */
.item__title {
  font-weight: 500;
  font-size: 19px;
  margin-bottom: 56px;
  color: #333;
}

/* line 54, ../sass/_content.sass */
.item__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* line 58, ../sass/_content.sass */
.item__date {
  font-size: 14px;
  font-weight: 400;
  color: #333;
}

/* line 62, ../sass/_content.sass */
.black-date {
  font-size: 12px;
}

/* line 64, ../sass/_content.sass */
.item__views {
  font-weight: 400;
  font-size: 14px;
  color: #333;
}
/* line 68, ../sass/_content.sass */
.item__views img {
  margin-right: 5px;
}

/* line 72, ../sass/_content.sass */
.block__item-little {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 11px;
  max-width: 375px;
  width: 100%;
  height: 220px;
}

/* line 79, ../sass/_content.sass */
.item-little__img {
  display: block;
  width: 100%;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

/* line 84, ../sass/_content.sass */
.item-little__info {
  background: #fff;
  padding: 29px 11px 13px 11px;
}

/* line 88, ../sass/_content.sass */
.little--statya {
  margin-bottom: 30px;
}

/* line 91, ../sass/_content.sass */
.little--title {
  margin-bottom: 47px;
}

/* line 95, ../sass/_content.sass */
.little-black * {
  color: #fff;
  background: #00000c;
}

/* line 99, ../sass/_content.sass */
.little-black .little--title {
  margin-bottom: 29px;
}
/* line 101, ../sass/_content.sass */
.little-black .little--statya {
  color: #b6b6b6 !important;
  margin-bottom: 15px !important;
}

/* line 105, ../sass/_content.sass */
.little--title span {
  font-weight: 400;
  font-size: 13px;
  display: block;
  margin-top: 5px;
}

/* line 112, ../sass/_content.sass */
.content__block-big {
  max-width: 100%;
  width: 100%;
  margin-bottom: 10px;
}

/* line 116, ../sass/_content.sass */
.more-text {
  margin-bottom: 17px;
}

/* line 118, ../sass/_content.sass */
.content__nav-right {
  max-width: 240px;
  width: 100%;
  height: 700px;
  background: #fff;
  margin-left: 10px;
}
