/* line 1, ../sass/_base.sass */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* line 6, ../sass/_base.sass */
body {
  font-family: sans-serif;
}

/* line 9, ../sass/_base.sass */
.container {
  max-width: 1040px;
  padding: 15px;
  width: 100%;
}
