.content 
    .container
        .content__inner
            .contents
                .contents__up
                    .content__left
                        .content__normal-block
                            .normal-block__img
                                img(src="./imgs/content/1.jpg")

                            .normal-block__text 
                                .normal-block__type
                                    | СТАТЬЯ
                                .normal-block__title
                                    a(href="#")
                                        | Флагментский кроссовер BMW: первые фото 
                                .block__info
                                    .info__date
                                        | 8 августа 2018
                                    .info__views
                                        img(src="./imgs/content/view.png", alt="view")
                                        | 147

                    .content__right
                        .content__little-block
                                .little-block__img
                                    img(src="./imgs/content/2.jpg")

                                .little-block__text
                                    .little-block__type
                                        | СТАТЬЯ
                                    .little-block__title
                                        a(href="#")
                                            | BMW показала  свой первый  компактный  седан 
                                    .block__info
                                        .info__date
                                            | 8 августа 2018
                                        .info__views
                                            img(src="./imgs/content/view.png", alt="view")
                                            | 147

                        .content__little-black
                                .little-block__img
                                    img(src="./imgs/content/3.jpg" style="max-width:193px")

                                .little-black__text
                                    .little-black__type
                                        | ВСТРЕЧА
                                    .little-black__title
                                        a(href="#")
                                            | Сходка  «Воробьевы-  горы» <span>18 августа | 19:00</span>
                                    .black__info
                                        .info__date-black
                                            | 8 августа 2018
                                        .info__views-black
                                            img(src="./imgs/content/view2.png", alt="view")
                                            | 147
                .contents__center
                        .content__big-block
                            .big-block__img
                                img(src="./imgs/content/4.jpg", alt="")
                            .big-black__text
                                    .big-block__type
                                        | СТАТЬЯ
                                    .big-block__title
                                        a(href="#")
                                            | Официально анонсирован кабриолет i8
                                    .block__info
                                        .info__date
                                            | 8 августа 2018
                                        .info__views
                                            img(src="./imgs/content/view.png", alt="view")
                                            | 147
                .contents__down
                    .content__left
                        .content__normal-block.last-normal-block
                            .normal-block__img
                                img(src="./imgs/content/1.jpg")

                            .normal-block__text 
                                .normal-block__type
                                    | СТАТЬЯ
                                .normal-block__title
                                    a(href="#")
                                        | Флагментский кроссовер BMW: первые фото 
                                .block__info
                                    .info__date
                                        | 8 августа 2018
                                    .info__views
                                        img(src="./imgs/content/view.png", alt="view")
                                        | 147
                        .content__little-block
                                .little-block__img
                                    img(src="./imgs/content/8.jpg")

                                .little-block__text
                                    .little-block__type
                                        | СТАТЬЯ
                                    .little-block__title
                                        a(href="#")
                                            | BMW показала  свой первый  компактный  седан 
                                    .block__info
                                        .info__date
                                            | 8 августа 2018
                                        .info__views
                                            img(src="./imgs/content/view.png", alt="view")
                                            | 147

                    .content__right
                        .content__little-block
                                .little-block__img
                                    img(src="./imgs/content/5.jpg")

                                .little-block__text
                                    .little-block__type
                                        | СТАТЬЯ
                                    .little-block__title
                                        a(href="#")
                                            | BMW показала  свой первый  компактный  седан 
                                    .block__info
                                        .info__date
                                            | 8 августа 2018
                                        .info__views
                                            img(src="./imgs/content/view.png", alt="view")
                                            | 147
                        .content__little-block
                                .little-block__img
                                    img(src="./imgs/content/6.jpg")

                                .little-block__text
                                    .little-block__type
                                        | СТАТЬЯ
                                    .little-block__title
                                        a(href="#")
                                            | BMW показала  свой первый  компактный  седан 
                                    .block__info
                                        .info__date
                                            | 8 августа 2018
                                        .info__views
                                            img(src="./imgs/content/view.png", alt="view")
                                            | 147
                        .content__little-block
                                .little-block__img
                                    img(src="./imgs/content/7.jpg")

                                .little-block__text
                                    .little-block__type
                                        | СТАТЬЯ
                                    .little-block__title
                                        a(href="#")
                                            | BMW показала  свой первый  компактный  седан 
                                    .block__info
                                        .info__date
                                            | 8 августа 2018
                                        .info__views
                                            img(src="./imgs/content/view.png", alt="view")
                                            | 147

            .content__nav
