header 
            nav 
                .container 
                    .nav__inner 
                        .logo 
                            a(href="/")
                                img(src="imgs/header/logo.png", alt="logo")

                        .nav__right
                            ul.header__menu 
                                li
                                    a.header__menu-items(href="#") Главная
                                li
                                    a.header__menu-items(href="#") Тест-драйвы
                                li
                                    a.header__menu-items(href="#") Фото и Видео
                                li
                                    a.header__menu-items(href="#") Контакты

                            .header__search
                                img(src="imgs/header/Forma-input.png", alt="")
                                input(type="text", name="search", placeholder="Найти")
            .header__img 

